@model Rubycon.Models.Triangle

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


<div class="row">
    <div class="col-md-6">
        @using (Ajax.BeginForm("TrianglePostAsync", "Home",
                            new AjaxOptions
                            {
                                UpdateTargetId = "result"
                            }))
        {
            @:Enter Triangle Name (Format: C12): <br />
            @Html.EditorFor(x => x.Name)


            <input type="submit" value="submit" />
        }
    </div>

    <div class="col-md-6">
        @using (Ajax.BeginForm("NamePostAsync", "Home",
                            new AjaxOptions
                            {
                                UpdateTargetId = "result"
                            }))
        {
            @:Enter Triangle Coordinates (Format: Ax, Ay; Bx, By; Cx, Cy, e.g.: 30, 20; 40, 20; 40, 30): <br />
            <input type="text" name="coordinates" value=""/>

            <input type="submit" value="submit" />
        }
    </div>
</div>
<div id="result">
    @{Html.RenderPartial("Home");}
</div>
