@model Rubycon.Models.Triangle

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@using (Ajax.BeginForm("TrianglePost", "Home",
                    new AjaxOptions
                    {
                        UpdateTargetId = "result"
                    }))
{
    @:Triangle Name @Html.EditorFor(x => x.Name)




    <input type="submit" value="submit" />
}

<div id="result">
    @{Html.RenderPartial("Home");}
</div>
